
nav{
    background-color:rgb(14, 14, 88,0.8);
}
.navbar-brand{
    margin-left: 200px;
}
nav ul li{
    padding: 35px;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    color:#00FFFF;
}
nav ul li a:hover{
    background-color: rgb(109, 109, 245);
}
h1{
 color:  #00FFFF;
}

pre{
    font-size: 25px;
}
#resp{
    background-color: #0DFF76;
}